* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: Inter, sans-serif;
  background: url("./images/image1.jpg") no-repeat;
  background-size: cover;
}

.nav {
  margin: auto;
  background: rgb(162, 164, 167);
  padding: 30px 25px;
  margin-bottom: 20px;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: white;
}

.nav-items li {
  padding: 10px;
  font-size: 1.4rem;
}

.menu {
  color: rgb(78, 81, 82);
  box-sizing: border-box;
  border-radius: 10px;
  background: rgba(240, 248, 255, 0.636);
  margin: auto;
  padding: 5px;
  width: 600px;
  height: 600px;
}

.menu ul li {
  list-style: none;
  margin: auto;
  padding: 30px;
}

.footer {
  margin: auto;
  margin-top: 20px;
  background: rgb(162, 164, 167);
  padding: 30px 25px;
  display: flex;
  justify-content: space-between;
}

.footer small {
  font-size: 1rem;
  display: flex;
  color: white;
}
